body {
  background-color: rgba(16, 19, 21, 1) !important;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(16, 19, 21, 1);

  margin: 0;
  justify-content: space-around;
  color: #ddc4ce;
}

.contIzquierda {
  
  background-image: url("./imgs/imgbg.jpg");
  background-position: center;
  background-size: cover;
  width: 25vw;
  height: 90vh;
  border-radius: 360px;
}

.contDerecha {
  width: 50vw;
  height: 75vh;
  border: 1px white solid;
  border-radius: 45px;
}
