body {
  /* background-color: rgba(16, 19, 21, 1) !important; */
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  

}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(117,121,192);
background: -moz-radial-gradient(circle, rgba(117,121,192,1) 0%, rgba(11,11,19,1) 100%);
background: -webkit-radial-gradient(circle, rgba(117,121,192,1) 0%, rgba(11,11,19,1) 100%);
background: radial-gradient(circle, rgba(117,121,192,1) 0%, rgba(11,11,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7579c0",endColorstr="#0b0b13",GradientType=1);

  margin: 0;
  justify-content: center;
  color: #ddc4ce;
}

.contIzquierda {
  
  background-image: url("./imgs/imgbg.jpg");
  background-position: center;
  background-size: cover;
  width: 25vw;
  height: 85vh;
  border-radius: 360px;
  margin-right: 5vw;
  animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes floating {

  0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}





.contDerecha {
  width: 30vw;
  height: 75vh;
  border: 1px white solid;
  border-radius: 45px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  box-shadow:#ddc4ce;
  align-items: center;
  box-shadow: 0 4px #999;
  background-color: rgba(70,73,116,0.7)
}

.crearCuentah1{
  
  font-weight: 600;
  font-size: 3rem;
}

.registro{
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;

  flex-direction: column;
  width: 70%;
}

input{
  font-size: 1.5rem;
  border-radius: 10px;
  
}


input:focus{
  font-size: 1.5rem;
  border-style: solid;
  border:#4c00ff 5px;
 
}


input:valid {
  border: 2px solid #17d641;
}

input.error{
  border: 2px solid hsl(0, 73%, 45%);
}

.botonCrear{
  
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    box-shadow: 0 9px #999;
    border-radius: 15px;
  
}

.botonCrear:hover{
  cursor: pointer;
  background-color: #04AA6D;
}

.botonCrear:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}